mat-form-field {
    display: block;
    width: max-content;
    margin: auto;
}

.container-card {
    height: 100%;
}

.login-card {
    display: flex;
    justify-content: center;
}

form {
    width: 400px;
    display: block;
    margin: auto;
    text-align: center;
}
