<!-- main app container -->
<div class="container-fluid row justify-content-center align-items-center">
    <div class="card mt-5 col-sm-12 col-md-10 col-xl-8">
        <h2 class="card-header">Login</h2>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col">
                        <label>Email</label>
                        <input
                            type="text"
                            placeholder="jhon@smith.com"
                            formControlName="email"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': f.email.errors }"
                        />
                        <div
                            *ngIf="
                                !f.email.valid &&
                                (f.email.dirty || f.email.touched)
                            "
                            class="invalid-feedback"
                        >
                            <div *ngIf="f.email.errors.required">
                                <span>Email is required</span>
                            </div>
                            <div *ngIf="f.email.errors.email">
                                Email must be a valid email address
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Password</label>
                        <input
                            type="password"
                            placeholder="password"
                            formControlName="password"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': f.password.errors }"
                        />
                        <div *ngIf="f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">
                                Password is required
                            </div>
                            <div *ngIf="f.password.errors.minlength">
                                Password must be at least 8 characters
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn custom-btn">GO</button>
                </div>
            </form>
        </div>
    </div>
</div>
