<div class="container-menu">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>SpeakAsian</span>
            <button mat-button>About</button>
            <button mat-button>Contact</button>
            <span class="example-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>profile</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>exit_to_app</mat-icon>
                    <span>logout</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>attachment</mat-icon>
                    <span>attachements</span>
                </button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
